:root {
    --scheme-brand-100: #670000;
    --scheme-brand-200: #7a0000;
    --scheme-brand-300: #8d1a1a;
    --scheme-brand-400: #972d2d;
    --scheme-brand-500: #a04040;
    --scheme-brand-600: #aa5353;
    --scheme-brand-600-10: rgba(170, 83, 83, 0.1);
    --scheme-brand-600-30: rgba(170, 83, 83, 0.3);
    --scheme-brand-600-50: rgba(170, 83, 83, 0.5);
    --scheme-brand-700: #b36666;
    --scheme-brand-800: #c68c8c;
    --scheme-brand-900: #d9b3b3;
    --scheme-brand-1000: #d9b3b3;
    --scheme-brand-1100: #d9b3b3;
    --scheme-brand-1200: #d9b3b3;
    --scheme-accent-100: #950000;
    --scheme-accent-200: #a30000;
    --scheme-accent-300: #b00000;
    --scheme-accent-400: #b61313;
    --scheme-accent-500: #bd2828;
    --scheme-accent-600: #c43e3e;
    --scheme-accent-600-10: rgba(196, 62, 62, 0.1);
    --scheme-accent-600-30: rgba(196, 62, 62, 0.3);
    --scheme-accent-600-50: rgba(196, 62, 62, 0.5);
    --scheme-accent-700: #ca5353;
    --scheme-accent-800: #d77e7e;
    --scheme-accent-900: #e5a9a9;
    --scheme-accent-1000: #e5a9a9;
    --scheme-accent-1100: #e5a9a9;
    --scheme-accent-1200: #e5a9a9;
}
